@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root {
  --Very-dark-blue-main: #090b1a;
  --Dark-desaturated-blue-card: #1b1938;
  --Soft-violet-accent: #aa5cdb;
  --White-main-heading: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  font-family: 'Lexend Deca', sans-serif;
  font-family: 'Inter', sans-serif;
  background-color: var(--Very-dark-blue-main);
}
.main {
  min-width: 275px;
  background-color: var(--Soft-violet-accent);
  border-radius: 10px 10px;
  margin: 5rem 1.5rem;
}

.container {
  background-color: var(--Soft-violet-accent);
  text-align: center;
  border-radius: 10px 10px 11px 11px;
}
.img-2 {
  max-width: 100%;
  opacity: 0.5;
  margin-bottom: -3.5px;
  border-radius: 10px 10px 0 0;
}
.img-1 {
  display: none;
}

.contents {
  background-color: var(--Dark-desaturated-blue-card);
  border-radius: 0 0 10px 10px;
}
.header {
  padding: 2rem 1.7rem 0rem 1.7rem;
}
span {
  color: var(--Soft-violet-accent);
}
p {
  padding: 1.5rem 2rem;
  line-height: 1.6;
  opacity: 0.5;
  color: var(--White-main-heading);
}

.list {
  padding: 0 0 2rem 0;
}
.list-1 {
  padding: 1rem;
}
.header,
.list {
  color: var(--White-main-heading);
}

small {
  opacity: 0.5;
}

@media (min-width: 664px) {
  .main {
    margin: 5rem 5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: -2rem 0;
    display: block;
    min-width: 80%;
  }

  .container {
    min-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 1rem 1rem 1rem 1rem;
  }
  .img-1 {
    border-radius: 0 10px 10px 0;
    opacity: 0.5;
    display: block;
    min-width: 50%;
    min-height: 50%;
  }
  .img-2 {
    display: none;
  }

  .contents {
    text-align: left;
    padding: 1rem 1rem;
    border-radius: 1rem 0 0 1rem;
    max-width: 50%;
    display: block;
  }
  .list {
    display: inline-flex;
    padding: 0 1rem;
  }
}
/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
